* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    position: relative;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 1em;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100vw;
}

nav {
    margin-top: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section.main-content {
    margin: 2em;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input {
    padding: 0.5em;
}

button {
    padding: 0.5em 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #007bff;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.result {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 20px;
}

.res-title {
    color: #007bff;
}

pre {
    white-space: pre-wrap;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.res-body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}
.h1-header {
    color: #0066cc;
    border-bottom: 2px solid #0066cc;
    padding-bottom: 10px;
}
.section-item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.h2-item {
    color: #0066cc;
    margin-bottom: 10px;
}
.ul-item {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.li-item {
    padding: 5px 0;
}
